body{
    background-color: white;
    color: black;
}

.container {
    text-align: center;
    margin: 8% auto;
    border-style: dashed;

}

h1{
    font-size: 50px;
    color: skyblue;
}

input{
     border-radius: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
     padding: 10px;
     width: 30%;

}

.Btn-submit {
    background-color: skyblue;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    width:10%;
    margin-bottom: 10px;

}



@media screen and (max-width: 600px){
    .Btn-submit {
        width: 30%;
    }

    input{
        width: 50%;
    }
}